
#dash-tokens-table1-token-card-des
{
	color: #a9a9b0;
	display: inline-block;
	position: relative;
	left: -70px;
	top: -2px;
	font-size: 10px;
}
#dash-tokens-table1-token-card-title
{
	display: inline-block;
	position: relative;
	top:-20px;
	left: 5px;
	color: #FFFFFF;
}
#dash-tokens-table1-token-card
{
	margin-bottom: 10px;
}
#dash-tokens-table1-token-title
{
	color: #a9a9b0;
	margin-bottom: 20px;
}
#dash-tokens-table1-token
{
	position: relative;
	left: 20px;
}
#dash-tokens-table1-title img
{
	position: relative;
	left: 5px;
	top: 5px;
}
#dash-tokens-table1-title
{
	width:99.1%;
	color:#FFFFFF;
	border-bottom: 1px solid #4d4d4e;
	margin-top:15px;
	margin-bottom: 15px;
	padding-bottom:17px;
	padding-left: 10px;
}
#dash-tokens-table1
{
	position:relative;
	left:110px;
	top: -50px;
	width: 1210px;
	border:1px solid #4d4d4e;
	background-color: #151515;
}
#dash-tokens-des
{
	color:#B7B7BD;
	width:320px;
	font-size: 15px;
	margin-bottom:30px;
}
#dash-tokens-title
{
	color:#FFFFFF;
	font : 40px sans-serif;
	margin-bottom: 10px;	
}
.stats-piechart
{
	display:inline-block;
	position: relative;
	left: 400px;
	top: -150px;
}
#dash-tokens-table-label-num
{
	width:120px;
	text-align:right;
	position: relative;
	color:#FFFFFF;
	display: inline-block;
	left:60px;
}
#dash-tokens-table-label-name
{
	color:#FFFFFFB2;
	display:inline-block;
	width:160px;
	margin-left: 10px;
}
#dash-tokens-table-label
{
	width:300px;
	margin-top: 10px;
	font-size: 15px;
}
#dash-tokens-table-title
{
	border-bottom: 1px solid #4d4d4e;
	width:300px;
}
#headlessui-menu-button-3
{
	position : relative;
	left: 105px;
	top:-30px;
	color:#FFFFFF;
}
#dash-tokens-table-small-name
{
	color:#B7B7BD;
	display:inline-block;
	position:relative;
	left: -40px;
	top:5px;
	font-size: 10px;;
}
#dash-tokens-table-name
{
	color:#FFFFFF;
	display:inline-block;
	position:relative;
	left: 10px;
	top:-10px;
}
#dash-tokens-table img
{
	width:40px;
	position: relative;
	top:10px;
	left:10px;
}
#dash-tokens-table
{
	height:250px;
	width:600px;
	border:1px solid #4d4d4e;
	background-color: #151515;
	display: inline-block;
}
#dash-tokens
{
	position:relative;
	left: 110px;
	top: 100px;
}
#dash-table-label
{
	font-size:15px;
	margin:10px 0 10px 0;
}
#dash-table-label-name
{
	color:#FFFFFFB2;
	display:inline-block;
	width:200px;
	margin-left: 10px;
}
#dash-table-label-num
{
	width:70px;
	text-align:right;
	position: relative;
	color:#FFFFFF;
	display: inline-block;
	left:310px;
}
#dash-table-title
{
	border-bottom: 1px solid #4d4d4e;
	color:#FFFFFF;
	padding: 15px 0 15px 15px;
}
#dash-table
{
	height:200px;
	display: inline-block;
	border:1px solid #4d4d4e;
	width:600px;
	background-color:#151515;
	border-radius:5px;
	padding-bottom: 10px;
	margin-right: 20px;
}
#dash-stat
{
	position:relative;
	left: 110px;
	top: 50px;
}
*
{
	font-family: sans-serif;
}
#dash-des
{
	color:#B7B7BD;
	width:320px;
	font-size: 15px;
	margin-bottom:30px;
}
#dash-stat-title img
{
	margin-left:10px;
}
#dash-stat-title
{
	color:#FFFFFF;
	font : 40px sans-serif;
	margin-bottom: 10px;
}
#rules a
{
	color : #a7a7a9;
	text-decoration : none;
	font-size:15px;
	padding:18px 17px;
	font-family:sans-serif;
	position:relative;
	left : 500px;
	top : 25px;
}
#rules a:hover
{
	color:white;
}
#social-sites a
{
	margin-left:70px;
}
#social-sites img
{
	width:30px;
	opacity:50%;
}
#social-sites img:hover
{
	opacity:140%;
}
#social-sites
{
	margin-top:20px;
	position:relative;
	left:-170px;
}
footer img
{
	width:200px;
	position:relative;
	left:600px;
	top:10px;
}
footer
{
	background-color:#151515;
	border:1.5px solid #2b2b2b;
	padding-bottom:40px;
}
#rate
{
	margin-top:10px;
	color:#a7a7a9;
	font-family:sans-serif;
}
#buy
{
	font-family:sans-serif;
	padding:11px 15px;
	background: #3eb489;
    	border-radius: 4px;
	font-size:13px;
    	color: #fff!important;
    	text-decoration: none;
    	position: relative;
    	align-items: center;
    	text-align: center;
    	cursor: pointer;
	position:relative;
	top:20px;
}
#read
{
	position:relative;
	top:20px;
	font-family:sans-serif;	
	font-size:14px;
	color:#FFFFFF;
	background-color:#151515;
	border:1px solid #3d3d3d;
	padding:7px 20px;
	border-radius:4px;
	margin:10px;
	text-decoration:none;
}
#tkns
{
	position:relative;
	left:100px;
}
#tooken-des
{
	color:#FFFFFF;
	font-family:sans-serif;
}
#token-title
{
	margin-bottom:20px;
	font-size:23.25px;
	display:inline-block;
	position: relative;
	left:10px;
	top:-15px;
	font-family:sans-serif;
	color:#FFFFFF;
}
#token
{
	height:200px;
	background-color:#151515;
	box-shadow:0px 7px 10px #151515;
	border-radius:10px;
	border:2px solid #2b2b2b;
	width:500px;
	display:inline-block;
	position:relative;
	margin:20px;
	padding:20px 60px 20px 10px;
}
#tokens-title
{
	width:400px;
	color:#FFFFFF;
	font-size:38px;
	font-family:sans-serif;
	font-weight:bold;
	position:relative;
	left:125px;
}
#tokens
{
	margin-top:50px;
	margin-bottom:50px;
}
.home-benefit-description
{
	color:#CECECE;
	margin-top:20px;
	font-size:18px;
	font-family:sans-serif;
}
.home-benefit-container
{
	border-top:2px solid #2b2b2b;
	width:100%;
	margin-bottom:200px;
}
.home-benefit
{
	width:300px;
	display:inline-block;
	padding : 0px 50px 0px 0px;
	margin-top:70px;
	margin-left:100px;
}
.home-benefit-title
{
	font-size:22px;
	font-family:sans-serif;
	color:#FFFFFF;
	display:inline-block;
	position :relative;
	left:10px;
	bottom:12px;
}
#num
{
	display:inline-block;
	position:relative;
	color:#FFFFFF;
	top:30px;
	left:-120px;
	font-size:30px;
	font-family:"RelativeNumber";
}
#imgcon
{
	display:inline-block;
}
#con
{
	display:inline-block;
	position : relative;
	left:30px;
	color : #CECECE;
	font-family:sans-serif;
}
#home-stat img
{
	position:relative;
	top:30px;
	margin-left:20px;
}
#home-stat #box
{
	display:inline-block;
	width:400px;
	height:120px;
	border: 1px ridge #2b2b2b;
	margin: 20px;
	box-shadow:0px 7px 10px #151515;
	border-radius:4px;
}
#home-stat
{
	margin-top:60px;
	margin-left:120px;
	margin-bottom:70px;
}
#home-sec
{
margin-left : 130px;
}
#des
{
	font-size : 20px;
	font-family:sans-serif;
	color:#CECECE;
	width:400px;
	margin-top : 20px;
}
#DPE
{
	font-size : 57px;
	font-family:sans-serif;
	color:#FFFFFF;
	width:600px;
	margin-top : 70px;
}
#logo
{
	width:150px;
	margin-bottom:-10px;
	margin-right:100px;
}
#dots
{
	color:white;
	font-size:20px;
}
#seperator
{
	padding-top:10px;
	border-left:#3d3d3d solid 0.5px;
}
#etherium:hover
{
	background-color:#2a2a2a;
	cursor:pointer;
}
#etherium
{
	font-family:sans-serif;	
	font-size:14px;
	color:#FFFFFF;
	background-color:#191919;
	border:1px solid #3d3d3d;
	padding:5px 10px;
	border-radius:4px;
}
#etherium-img
{
	width:10px;
	padding:3px 6px;
	background-color:white;
	border-radius:200px;
	margin-right:3px;
}
body
{
	background-color:#191919;
}
header button:hover
{
	background-color:#2a2a2a;
	cursor:pointer;
}
header button
{
	font-family:sans-serif;	
	font-size:14px;
	color:#FFFFFF;
	background-color:#191919;
	border:1px solid #3d3d3d;
	padding:7px 20px;
	border-radius:4px;
	margin:10px;
}
header
{
	padding:0px 0px 0px 0px;
	border-bottom:1px solid #202020;
	box-shadow:0px 7px 10px #151515;
}
header a
{
	color : #a7a7a9;
	text-decoration : none;
	font-size:15px;
	padding:18px 17px;
	font-family:sans-serif;
}
header a:hover
{
	color:white;
}
#trade:hover
{
	background-color:#207a59;
}
#trade
{
	font-family:sans-serif;
	padding:11px 15px;
	background: #3eb489;
    	border-radius: 4px;
	font-size:13px;
    	color: #fff!important;
    	text-decoration: none;
    	position: relative;
    	align-items: center;
    	text-align: center;
    	cursor: pointer;
	margin-right:40px;
	margin-left:60px;
}